<%- model_class = Category -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th>Total Incomes</th>
      <th>Total Cost</th>
      <th>NET</th>
    </tr>
  </thead>
  <tbody>    
    <% @categories.each do |category| %>
      <% incomes = 0 %>
      <% category.incomes.select(:amount).each { |a| incomes+=a.amount } %>
      <% costs = 0 %>
      <% category.costs.select(:amount).each { |a| costs+=a.amount } %>

      <tr>
        <td><%= link_to category.id, category_path(category) %></td>
        <td><%= category.name %></td>
        <td><%= incomes %></td>
        <td><%= costs %></td>
        <td style="color: <%= 'red' if (incomes < costs) %>">
          <%= incomes - costs %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>