<!DOCTYPE html>
<html>
<head>
  <title>Wallet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div style = "margin-top: 20px;">
			<%= link_to "Home", root_path , class: "btn btn-default" %>
			<%= link_to "Categories", categories_path , class: "btn btn-default" %>
			<%= link_to "Costs", costs_path , class: "btn btn-default" %>
			<%= link_to "Incomes", incomes_path , class: "btn btn-default" %>
		</div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
		<%= yield %>
	</div>
</div>


</body>
</html>
